<div class="container-fluid mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Tasks</h1>
    <%= link_to new_task_path, class: "btn btn-primary" do %>
      <i class="fas fa-plus"></i> New Task
    <% end %>
  </div>
  
   
  

  <div data-controller="sortable">
    <div class="row">
      <% Task.statuses.keys.each do |status| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h3 class="h5 mb-0"><%= status.humanize %></h3>
              <span class="badge <%= status_badge_class(status) %>">
                <%= @status_counts[status] || 0 %>
              </span>
            </div>
            <div class="card-body kanban-column" 
                 data-sortable-target="column"
                 data-status="<%= status %>">
              <% @tasks_by_status[status].each do |task| %>
                <div data-task-id="<%= task.id %>" class="task-item">
                  <%= render 'task_card', task: task %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>